node_modules
.next
out
.env
.env.*
!.env.example
!*.env.example
.env*.local
*.tsbuildinfo
.DS_Store
*.log
local.properties
**/local.properties
.vercel
public/uploads/*
!public/uploads/.gitkeep
.env*.local
.claude/worktrees/agent-a70947da8ab29b154/
.claude/worktrees/naughty-yalow-9e9abc/

# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
.openwa-session/
# end managed by open-wa
