node_modules
.next
out
.env*.local
.DS_Store
*.log
.vercel
public/uploads/*
!public/uploads/.gitkeep
.env*.local
.claude/worktrees/agent-a70947da8ab29b154/
.claude/worktrees/naughty-yalow-9e9abc/

# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
.openwa-session/
# end managed by open-wa
