DOCUMENSO_IMAGE_TAG=latest
CLOUDFLARED_IMAGE_TAG=latest
CLOUDFLARED_TUNNEL_TOKEN=replace-with-cloudflare-tunnel-token
DOCUMENSO_LOCAL_PORT=3005

POSTGRES_USER=documenso
POSTGRES_PASSWORD=change-me
POSTGRES_DB=documenso
NEXT_PRIVATE_DATABASE_URL=postgres://documenso:change-me@database:5432/documenso
NEXT_PRIVATE_DIRECT_DATABASE_URL=postgres://documenso:change-me@database:5432/documenso

NEXTAUTH_SECRET=change-me-at-least-32-chars
NEXT_PRIVATE_ENCRYPTION_KEY=change-me-at-least-32-chars
NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY=change-me-at-least-32-chars

NEXT_PUBLIC_WEBAPP_URL=https://firma.pynkstudio.com

NEXT_PRIVATE_SMTP_TRANSPORT=resend
NEXT_PRIVATE_RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
NEXT_PRIVATE_SMTP_FROM_NAME=PynkStudio
NEXT_PRIVATE_SMTP_FROM_ADDRESS=amministrazione@pynkstudio.com

NEXT_PRIVATE_SIGNING_PASSPHRASE=change-me
NEXT_PUBLIC_UPLOAD_TRANSPORT=database
NEXT_PUBLIC_DISABLE_SIGNUP=false
NEXT_PUBLIC_DISABLE_EMAIL_PASSWORD_SIGNUP=false
NEXT_PRIVATE_ALLOWED_SIGNUP_DOMAINS=
DOCUMENSO_DISABLE_TELEMETRY=true
